section#store_vinyls_type{
    //Estilos
    div.container{
        //Estilos
        div.row{
            //Estilos
            div.col-md-12{
                //Estilos
                h2{
                    //Estilos
                    text-transform: uppercase;
                }
                hr{
                    //Estilos
                }
            }
            div.row{
                //Estilos
                div.col-md-3{
                    //Estilos
                    padding: 15px;
                    div.vinyl_container{
                        //Estilos                        
                        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
                        position: relative;
                        padding: 10px;
                        a{
                            //Estilos
                            p{
                                //Estilos
                                padding: 0px 5px 0px 5px;
                                margin-bottom: 0px;
                                position: absolute;
                                bottom: 10px;
                                left: 10px;                                
                                font-size: 22px;
                                text-transform: uppercase;
                                color: #fff;
                                background-color: rgba(0, 0, 0, 0.7);
                            }
                            img{
                                //Estilos
                            }
                        }
                    }
                }
            }
        }
    }
}

.font_18_px{
    font-size: 18px !important;
}