
.section-vinyls-edit-vinyl{
    .thumbnail{
        min-height: 200px;
    }
}

a{
    cursor: pointer;
}

.table-hover{
    
    img{
        height: 60px;
    }
}

.btn-gold {
    color: #fff;
    background-color: #b6a26e;
    border-color: #b6a26e;
    outline: none;
    
    &:hover{
        background-color: #dec688;
        color: #fff;
    }
}

.order-comment{
    height: 99px; 
    overflow-y: scroll; 
    padding: 0;
}


.property-color-element{
    border: 1px solid #b6a26e;
    padding: 15px 15px 0 15px; 
    margin-top: 15px;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    div{
        text-align: center;
    }
    
    .checkbox-custom{
        margin-top: 20px;
    }
    
    .label-for-colour{
        
        width: 100%;
        
        span{
            float: left;
            width: 100%;
            text-align: center;
            margin-top: 5px;
        }
        
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 50px;
        }
    }
    
    .image-preview-edit-property{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 70px;
    }
    
    .edit-properties-form-clear-new-image{
    
        cursor: pointer;
        background-color: #e45454;
        padding: 2px 4px 2px 3.5px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

        i{
            color: #fff;
        }
    }
    
    .edit-properties-form-element-msg{
        width: 100%;   
        text-align: center;
        padding: 4px 0;

        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

        margin-top: 20px;

        &.red-msg{
            background-color: #e45454;
            color: #fff;
        }

        &.green-msg{
            background-color: #4bce4f;
            color: #fff;
        }

        &.orange-msg{
            background-color: #ff9900;
            color: #fff;
        }

        &.grey-msg{
            background-color: #9e9e9e;
            color: #fff;
        }
    }

}

.product-list-page{
    
    .table-product-list{
        
        tr{
            
            td{
                //width: 16%;
                
                &:nth-child(1){
                    width: 14%;
                }
                
                &:nth-child(2){
                    width: 10%;
                }
                
                &:nth-child(3){
                    width: 20%;
                }
              
                &:nth-child(4){
                    width: 14%;
                }
                
                &:nth-child(5){
                    width: 12%;
                }
                
                &:nth-child(6){
                    width: 20%;
                    
                    .btn{
                        width: 47%;
                        margin-left: 2%;
                        margin-bottom: 5px;
                    }
                }
            }
        }
        
        .feature-icon{
            height: 30px;
            margin-left: 6px;
            margin-top: 3px;
        }
    }
    
    
    
}

.edit-feature-color-title{
    border: 1px solid #333;
    background-color: #333;
    padding: 0; 
    margin-top: 15px;
    float: left;
    width: 100%;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    span{
        width: 50%;
        padding-left: 15px;
        font-size: 40px;
        float: left;
        color: #fff;
    }
    
    img{
        height: 45px;
        padding: 5px;
        float: right;
        margin-right: 15px;
        margin-top: 5px;
        background-color: #fff;
        
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
    }
}

.edit-feature-size-element{
    border: 1px solid #b6a26e;
    padding: 0; 
    margin-top: 15px;
    float: left;
    width: 100%;
    cursor: pointer;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    .checkbox-size{
        padding-top: 25px; 
    }
    
    .img-size{
        padding: 5px 0;
        
        img{
            width: 70px;
            max-width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    .name-size{
        padding-top: 25px;
        font-size: 20px;
    }
    
}


.multiple-selection-edit-wrap{
    border: 1px solid #333;
    border-top: 0;
    border-bottom: 0;
    padding: 0; 
    margin: 0 0 20px 0;
    float: left;
    width: 100%;
    float: left;
   
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    .msew-main-title{
        float: left;
        width: 100%;
        background-color: #333;
        color: #fff;
        font-size: 18px;
        padding: 4px 10px;
        margin: 0;
        cursor: pointer;
        
        &:hover{
            background-color: #5f5f5f;
        }
    }
    
    .msew-title{
        display: none;
        float: left;
        width: 100%;
        background-color: #ccc;
        color: #333;
        font-size: 16px;
        padding: 4px 10px;
        margin: 0;
        font-weight: bold;
    }
    
    .msew-content{
        display: none;
        float: left;
        width: 100%;
        background-color: #fff;
        color: #333;
        font-size: 16px;
        padding: 4px 10px;
        margin: 0;
        
        label{
            padding: 4px 7px;
            font-weight: 100;
            
            &:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    
    .msew-submit{
        display: none;
        float: left;
        width: 100%;
        background-color: #333;        
        font-size: 18px;
        padding: 7px 10px;
        margin: 0;
        
        .btn{
            float: right;
            margin-right: 15px;
        }
    }
}


/* Customize the label (checkbox-custom) */
.checkbox-custom {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
  
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        
        &:after {
            content: "";
            position: absolute;
            display: none;
            
            left: 10px;
            top: 6.5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

.checkbox-custom:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-custom input:checked ~ .checkmark {
  background-color: #b6a26e;
}

.checkbox-custom input:checked ~ .checkmark:after {
  display: block;
}



.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
  
    .btn {
        border: 2px solid gray;
        color: gray;
        background-color: white;
        padding: 6px 12px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }
    
    input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
    }
}


.order-show{
    
    
    table{
        tr{
            
            td{
                img{
                    height: 45px;
                }
            }
        }
    }
    
    
    .panel{
        
        &.color-bg-1{
            .panel-heading{
                background-color: #7cc78c;
                border-color: #7cc78c;
            }
        }
        
        &.color-bg-2{
            .panel-heading{
                background-color: #7c89c7;
                border-color: #7c89c7;
            }
        }
        
        &.color-bg-3{
            .panel-heading{
                background-color: #b17cc7;
                border-color: #b17cc7;
            }
        }
        
        &.color-bg-4{
            .panel-heading{
                background-color: #757575;
                border-color: #757575;
            }
        }
        
        &.color-bg-5{
            .panel-heading{
                background-color: #c7b07c;
                border-color: #c7b07c;
            }
        }
        
        &.color-bg-6{
            .panel-heading{
                background-color: #aec77c;
                border-color: #aec77c;
            }
        }
        
        &.color-bg-7{
            .panel-heading{
                background-color: #7cc78c;
                border-color: #7cc78c;
            }
        }
        
        &.color-bg-8{
            .panel-heading{
                background-color: #7cc7a8;
                border-color: #7cc7a8;
            }
        }
        
        .panel-heading{
            .panel-title{
                color: #fff;
                font-size: 20px;
            }
        }
        
        /******************/
        
        /*
        &.color-bg-1{
            .panel-heading{
                background-color: #6ab04c;
                border-color: #6ab04c;
            }
        }
        
        &.color-bg-2{
            .panel-heading{
                background-color: #686de0;
                border-color: #686de0;
            }
        }
        
        &.color-bg-3{
            .panel-heading{
                background-color: #badc58;
                border-color: #badc58;
            }
        }
        
        &.color-bg-4{
            .panel-heading{
                background-color: #757575;
                border-color: #757575;
            }
        }
        
        &.color-bg-5{
            .panel-heading{
                background-color: #6ab04c;
                border-color: #6ab04c;
            }
        }
        
        &.color-bg-6{
            .panel-heading{
                background-color: #22a6b3;
                border-color: #22a6b3;
            }
        }
        
        &.color-bg-7{
            .panel-heading{
                background-color: #95afc0;
                border-color: #95afc0;
            }
        }
        
        &.color-bg-8{
            .panel-heading{
                background-color: #7cc7a8;
                border-color: #7cc7a8;
            }
        }*/
    }
    
}


.status-order-html-select{
    
    font-size: 18px;
    
    option{
        
        font-size: 18px;
        padding: 4px 7px;
        
        &:hover,&:checked{
            /*background: #000 !important;*/
        }
    }
}
.status-order-html-select-color{
    float: left; 
    width: 100%; 
    height: 12px; 
    margin-top: 15px;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
