@font-face{
    font-family: RobotoFont;
    src: url("../OwnFonts/Roboto/Roboto-ThinItalic.ttf") format("opentype");
}
@font-face{
    font-family: Lemon;
    src: url("../OwnFonts/LemonMilk/LemonMilk.otf") format("opentype");
}
@font-face{
    font-family: GeoSans;
    src: url("../OwnFonts/GeoSansLight/GeosansLight.ttf") format("opentype");
}
@font-face{
    font-family: Rock;
    src: url("../OwnFonts/Rock/Rock.ttf") format("opentype");
}
@font-face{
    font-family: Dolce;
    src: url("../OwnFonts/EspressoDolce/EspressoDolce.ttf") format("opentype");
}
@font-face{
    font-family: Lane;
    src: url("../OwnFonts/Lane/Lanear.ttf") format("opentype");
}
@font-face{
    font-family: GravityL;
    src: url("../OwnFonts/Gravity/GravityLight.otf") format("opentype");
}
@font-face{
    font-family: GravityB;
    src: url("../OwnFonts/Gravity/GravityBook.otf") format("opentype");
}
@font-face{
    font-family: Enchanting;
    src: url("../OwnFonts/Enchanting/Enchanting.ttf") format("opentype");
}

@font-face{
    font-family: Wunderland;
    src: url("../OwnFonts/Wunderland/Wunderland.otf") format("opentype");
}

@font-face{
    font-family: Raleway;
    src: url("../OwnFonts/Raleway/Raleway-Regular.ttf") format("opentype");
}