
.product-shop-wrap{
    
    .circle-number{
        border: 1px solid #fff;
        border-radius: 10px;
        width: 20px;
        height: 20px;
        text-align: center;
        float: left;
        position: relative;
        top: -2px;
        margin-right: 5px;
    }
    
    .product-shop-images-thumbnails{
        
            float: left;
            clear: both;
            padding-bottom: 25px;
            width: 100%;
            /*margin-left: 10%;*/
            
            div{
                cursor: pointer;
                width: 18%;
                margin-left: 1%;
                margin-right: 1%;
                float: left;
                margin-top: 9px;
                
                img{
                    width: 100%;
                }
            }
        
        
    }
    
    #product-images-slider{
        
        width: 100%;
        /*margin-left: 10%;*/
        
        .item{
            
            img{
                width: 100%;
            }
        }
    }
    
    
    .slider-thumbnail{
        
        cursor: pointer;   
        position: relative;

        img{

        }
        
        &.colour-activation-show-sizes-thumbnail{
            float: left;
            margin: 0 4px;
            
            
        }
        
        .badge{
            position: absolute;
            
            bottom: 0;
            right: 0;
        }
        
    }
    
    .product-shop-image-instructions{
        
        padding-top: 15px;
        padding-bottom: 15px;
        
        text-align: center;
        
        img{
            max-width: 100%;
            /*width: 100%;*/
            
        }
    }
    
    .colour-activation-show-sizes{
        cursor: pointer;
    }
    
    .product-shop-design{
        float: left;
        clear: both;
        width: 100%;
        
        img{
            height: 45px;
        }
        
        .vinyl-option-price{
            display: none;
            
            &.vinyl-option-price-no-price{
                display: initial;
            }
        }
    }
    
    .product-shop-title{
        font-size: 25px;
    }
    
    .product-shop-attributes{
        margin-top: 20px;
        
        img{
            height: 75px;
            margin-right: 15px;
        }
    }
    
    .product-shop-price{
        margin-top: 20px;
        font-size: 18px;
        
        span{
            font-size: 25px;
        }
    }
    
    .product-shop-desc{
        margin-top: 20px;
        font-size: 18px;
               
    }
    
    .product-shop-image-tax-text{
        padding: 15px;
        background-color: #333;
        color: #eee;
        margin-bottom: 15px;
        
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        
        h3{
            margin: 0;
            padding: 0;
        }
    }
    
    .product-shop-features{
        margin-top: 20px;
        
        
        table{
            thead{
                th{
                    text-align: center;
                    width: 25%;
                }
            }
            
            tbody{
                tr{
                    td{
                        text-align: center;
                        width: 25%;
                        
                        img{
                            height: 45px;
                        }
                    }
                }
            }
        }
        
    }
    
    .panel{
        
        &.shide-show{
            
            .panel-heading{
                cursor: pointer;
                
                &:hover{
                    background-color: #d4c08b !important;
                }
                
                .fa{
                    float: right;
                }
            }
            
            .panel-body{
                display: none;
            }
        }
    }
}
