.product-shop-order-form{
    input{
        
        &[type="text"],&[type="email"],&[type="number"]{
            margin-top: 15px;
        }
    }
}



.order-show-client{
    
    
    .order-show-client-title{
        padding: 15px;
        background-color: #333;
        color: #eee;
        margin-bottom: 15px;
        
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    
    table{
        tr{
            
            td{
                img{
                    height: 45px;
                }
            }
        }
    }
    
    
    .panel{
        
        
        &.panel-order-show-client-product{
            
            .panel-heading{
                
                cursor: pointer;
                
                &:hover{
                    background-color: #cab47c !important;
                }
                
                h3{
                    
                    i.fa{
                        float: right;
                    }
                }
            }
            
            .panel-body{
                
               display: none;
            }
        }
        
    }
    
}