body{
    font-family: Raleway;
}
.product_element_min_size a{
    min-height: 473px !important;
    height: 100%;
    border: 1px solid #999;
    text-decoration: none;
    &:hover{
        border: 1px solid #B6A26E;
        text-decoration: none;
    }
}
.pointer{
    cursor: pointer;
}
.product_element_min_size_catalogue a{
    min-height: 400px !important;
    height: 100%;
    border: 1px solid #999;
    text-decoration: none;
    &:hover{
        border: 1px solid #B6A26E;
        text-decoration: none;
    }
}
.product-element{
    float: left;
    width: 100%;
    cursor: pointer;
    margin-bottom: 20px;
    padding-bottom: 20px;
    min-height: 427px;
    
    text-decoration: none;
    color: #333;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    &:hover{
        text-decoration: none;
        color: #333;        
    }
    
    img.product-element-property{
        width: 86%;
        margin: 17px 0 0 7%;
        
        color: #333;
    }
    
    .product-element-name{
        width: 86%;
        margin: 12px 0 0 7%;
        text-align: center;
        font-size: 20px;
        color: #333;
        height: 57px;
    }
    
    .product-element-price{
        width: 86%;
        margin: 12px 0 0 7%;
        text-align: center;
        font-size: 16px;
        color: #333;
        
        span{
            font-size: 20px;
        }
    }
    
    .product-element-attributes{
        width: 86%;
        margin: 12px 0 0 7%;
        color: #333;
        text-align: center;
        
        img{
            width: 17%;
            margin-right: 3%;
        }
    }
    
    .product-element-colours{
        width: 86%;
        margin: 12px 0 0 7%;
        color: #333;
        text-align: center;
        min-height: 49px;
        
        img{
            width: 12%;
            margin-right: 3%;
        }
    }
}



