nav.navbar.navbar-default{
    //Estilos    
    margin: 0px 0px 0px 0px;
    border-bottom: 0px;
    div.container-fluid{
        //Estilos
        div.navbar-header{
            //Estilos
            button{
                //Estilos
            }
            div.navbar-header{
                //Estilos
                a#navbar_logo_link.navbar-brand{
                    //Estilos
                    padding: 0px !important;                    
                    img{
                        //Estilos
                    }
                }
            }
        }
        div.collapse.navbar-collapse{
            //Estilos
            ul.nav.navbar-nav.navbar-right{
                //Estilos
                li{
                    //Estilos
                    a{
                        //Estilos
                        background-color: #F8F8F8 !important;
                        border-color: #F8F8F8 !important;
                        &:hover{
                            background-color: #B6A26E !important;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
#navbar_contact_data_section{
    background-color: #efe9e9;
    div.navbar-header{
        p{
            span#nav_phone{
                margin: 0px 30px 0px 30px;
                color: #778ca3;
                font-size: 16px;
                i{
                    font-size: 16px;
                }
                a{
                    color: #778ca3;
                    &:hover{
                        text-decoration: none;
                        color: #AAAAAA;
                    } 
                }
            }
            span#nav_mail{
                margin: 0px 30px 0px 30px;
                color: #778ca3;
                font-size: 16px;
                i{
                    font-size: 16px;
                }
                a{
                    color: #778ca3;
                    &:hover{
                        text-decoration: none;
                        color: #AAAAAA;
                    } 
                }
            }
        }
    }
}
