//-------JQuery UI Select con image ------------------
option.avatar {
    background-repeat: no-repeat !important;
    
    padding-left: 20px;
}
.avatar .ui-icon {
    background-position: left top;    
}
.ui-icon{
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
}
.ui-selectmenu-button{
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    padding: 6px !important;
}
.ui-menu{
    background-color: #fff;
    border: 1px solid #CCCCCC;
    max-height: 250px;
    overflow: scroll;
}
//----------------------------------------------------
.button_2brain_style{
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    &:hover{
        background-color: #B8A572;
        color: #fff;
        border: 1px solid #B8A572;
        text-decoration: none;
    }
}
.title_custom_2brain{

    //text-transform: uppercase;
    font-size: 50px;
}

.slider-content{
    min-width: 300px;
    background-color: rgba(255,255,255,0.7);
    padding: 30px;
    cursor: pointer;    
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 100px;

    .text1 {
        font-size: 40px;
        font-weight: 400;
        text-align: center;
        color: #000000;
        line-height: 40px;
        text-shadow: none !important;
    }

    .text2 {
        font-size: 25px;
        font-weight: 100;
        text-align: center;
        line-height: 25px;
        text-shadow: none !important;
        color: #000000;
        padding-bottom: 20px;
        background: rgba(0, 0, 0, 0) url(../img/themeimage/tc_title.png) no-repeat scroll center bottom;
    }

    p,a{
        text-shadow: none !important;
        color: #000000;
    }
}


.category-element{

    cursor: pointer;

    img{
        width: 100%;
    }

    h3{
        text-align: center;
        color: #333;
        text-decoration: none;
    }
}

.type-vinyle-element{

    cursor: pointer;

    img{
        width: 100%;
    }

    h3{
        text-align: center;
        color: #333;
        text-decoration: none;
    }
}




.parallax { 
    /* The image used */
    /*background-image: url("img_parallax.jpg");*/

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .parallax-wrapper {
        float: left;
        padding: 150px 0;
        text-align: center;
        width: 100%;

        .parallax-text {
            background-color: rgba(255,255,255,0.7) !important;
            padding: 30px;

            .text1{
                color: #000000;
                font-size: 100px;
                font-weight: 400;
                line-height: 100px;
                margin-bottom: 5px;
            }

            .text2{
                background: rgba(0, 0, 0, 0) url(../img/themeimage/tc_title.png) no-repeat scroll center bottom;
                font-size: 26px;
                font-weight: 100;
                line-height: 30px;
                padding-bottom: 20px;
            }

            a{
                color: #000000;
                font-family: "Open Sans Condensed",sans-serif;
                font-weight: 100;
                padding: 9px 27px;
            }
        }
    }
}

.policy-section{

    background-color: #333;
    padding: 50px 0;

    .policy-element{

        color: #ccc;

        .icon{
            width: 33px;
            height: 33px;            
            margin: auto;
            display: inline-block;
            float: left;

            span {
                color: #ccc;
                display: block;
                font-size: 33px;
                line-height: 33px;
                margin-left: 0;
                text-align: center;
            }
        } 

        .text-box {
            min-height: 120px;
            overflow: hidden;
            padding: 0 0 0 18px;
            position: relative;
            text-align: left;
            top: 0;
            color: #ccc;

            h3{
                margin-top: 0;
                font-size: 22px;
            }

            .text,p{
                font-weight: 300;
                position: relative;
                font-size: 16px;
                text-align: justify;
            }
        }
    }
}