#contact_us_store_info_container{
    border: 1px solid #d1d8e0;
    padding: 10px;
    h3{
        margin: 0px 0px 0px 0px;
        background-color: #E6E6E6;
        color: #020202;
        padding: 5px;
    }
    p{
        margin: 10px 0px 5px 0px;
    }
}
.contact_us_icon{
    font-size: 36px;
    color: #B8A572;
}
#contact_us_form{
    border: 1px solid #d1d8e0;
    padding: 10px;
    margin: 0px 10px 0px 10px;
}
#contact_us_submit_button{
    border: 1px solid #000;
    background-color: #fff;
    padding: 10px;
    &:hover{
        background-color: #B8A572;
        color: #fff;
        border: 1px solid #B8A572;
    }
}