footer{
    margin-top: 100px;
    width: 100%;
    min-height: 250px;
    background-color: #333;    
    padding-top: 50px;

}
#footer{
    div.container{
        div.row{
            div#footer_social_bar{
                padding: 10px;
                margin-top: 20px;
                div{
                    p{
                        a{
                            i{
                                font-size: 40px !important;
                                margin-left: 15px;
                                color: #B6A26E;
                                &:hover{
                                    color: #9e8d5f;
                                }
                            }
                        }
                    }
                }
            }
            div#footer_sitemap{
                div{
                    ul#footer_sitemap_ul{
                        text-align: center;
                        li{
                            display: inline-block;
                            padding: 0px 8px 0px 8px;                            
                            a{
                                color: #fff;
                                &:hover{
                                    text-decoration: none;
                                    color: #B6A26E;
                                }
                            }
                        }
                    }
                }

            }
            div#footer_powered_by{
                p{
                    color: #fff;
                    a{
                        color: #fff;
                        &:hover{
                            color: #B6A26E;
                        }
                        
                    }
                }               
            }
        }
    }
}
.footer_ul_li_bordered{
    border-left: 2px solid #fff;
}