<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Vinilos Especiales</h2>
                <p class="text-center"><?= $this->Html->image('Separador.png', ['alt' => 'Separador de textos', 'id' => '', 'class' => 'img-responsive']); ?></p>
                <p><?= $this->Html->image('vinyls_type/Vinilos especiales.jpg', ['alt' => 'Nuestros vinilos de tipo especial', 'title'=>'Nuestros vinilos de tipo especial', 'id' => '', 'class' => 'img-responsive']); ?></p>
                <p class="text-justify font_18_px"><em>BRILLO EN LA OSCURIDAD:</em> El vinilo textil fosforescente tras cargarse en la luz se ilumina en la oscuridad. Se consigue así un toque de originalidad en camisetas, ropa de ocio, deporte, artículos promocionales... Es adecuado para tejidos de algodón, mezcla poliéster/algodón y poliéster/acrílicos. No es apropiado para tejidos de nylon o con impregnación hidrófoba. Recomendamos lavar la prenda del revés en frío. No planchar directamente; sino planchar del revés o con un paño por encima (no poner la plancha en contacto directo con el estampado).</p>
                <p class="text-justify font_18_px"><em>HINCHADO:</em> El vinilo hinchable 3D, también llamado vinilo transfer puff, que tiene la particularidad que adquiere un gran volumen o espesor en el momento de aplicarlo sobre la prenda con calor. Consta de dos capas: la de poliuretano, que es la que adquiere la textura de una espuma voluminosa, y una base de poliéster. Al crear el diseño que se vaya a cortar en este tipo de vinilo hay que tener en cuenta que los huecos de menos de 2 mm desaparecen debido al hinchado del vinilo. También hay que tener en cuenta que se produce un cambio de color hacia tonos pastel. Cumple la norma ecológica Oeko-Tex 100. Tejidos adecuados: Algodón, poliéster y sus mezclas. Poco adecuado para nylon o tejidos recubiertos.</p>
                <p class="text-justify font_18_px"><em>ATERCIOPELADO O FLOCK:</em> Vinilo textil flex flock es un tipo de vinilo textil que usa una técnica aportando a tu ropa un aspecto de terciopelo. Entre la principal ventaja de la técnica del flocado es el brillo de los colores y la imitación al bordado, siendo mucho más económico y pudiendo estampar solo unas pocas prendas. Se puede utilizar en numerosas textiles tipos: algodón, poliéster, acrílico, nylon y muchas otras fibras pueden ser flocada. Recomendamos el uso de este tipo de vinilo para prendas que quieran dar un acabado suave y aterciopelado a su ropa; logotipos de empresa, ropa para enventos especiales, prendas de uniforme laboral,... Recomendamos lavar la prenda del revés en frío. No planchar directamente; sino planchar del revés o con un paño por encima (no poner la plancha en contacto directo con el estampado).</p>                
            </div>
        </div>
    </div>
</section>