.filter_element{
    
}
#catalogue_submit_button{
    border: 1px solid #000;
    background-color: #fff;
    padding: 10px;
    &:hover{
        background-color: #B8A572;
        color: #fff;
        border: 1px solid #B8A572;
    }
}
.panel-heading.panel_own_style{
        color: #fff;
    background-color: #B6A26E;
}
.catalogue_error_text{
    font-size: 22px;
    font-style: oblique;
}
.filter_label_element{
    font-weight: normal !important;
    
    &.filter_label_element_colour{
        position: relative;
        padding: 7px 0;
        margin-top: 10px;
        /*border: 1px solid #333;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;*/
        
        img{
            width: 90%;
            margin-left: 5%;
        }
        
        input{
            position: absolute;
            bottom: 5px;
    right: 6px;
        }
    }
}

.sub-category-filter{
    padding-left: 25px;
}