.panel-default>.panel-heading {
    color: #f5f5f5 !important;
    background-color: #b6a26e !important;
    border-color: #ddd !important;    
}
p.faq_inherit_font_size,li.faq_inherit_font_size{
    font-size: 18px !important;
}